In [ ]:
# Load the CSV file
df = r"Q:\Downloads\ACSST1Y2022.S1902-2024-08-13T195626.csv"

df = pd.read_csv(r"Q:\Downloads\ACSST1Y2022.S1902-2024-08-13T195626.csv"

# Display the first few rows of the original dataframe to understand its structure
df.head()

#Transpose Data
#Here I transpose the dataset from a wide to a long dataset and make some of the columns into rows. 

# Transpose the dataframe so that counties are rows
df_transposed = df.set_index('Label (Grouping)').transpose()

# Reset the index and rename the index column to 'Geography'
df_transposed = df_transposed.reset_index().rename(columns={'index': 'Geography'})

# Display the first few rows of the transformed dataframe to verify the changes
df_transposed.head()

#Cleaning
#Here I do some additional cleaning such as removing 'NaN' values and getting rid of white spaces
Cleaning:

# Remove rows that contain "Margin of Error" in the 'Geography' column
df_clean = df_transposed[~df_transposed['Geography'].str.contains('Margin of Error', na=False)]

# Drop any rows or columns that might contain all NaN values, if present
df_clean.dropna(how='all', inplace=True)

# Display the first few rows to check for any remaining issues
df_clean.head()

# Clean up the column names by stripping leading and trailing whitespace
df_clean.columns = df_clean.columns.str.strip()

# Extract only the relevant part of the 'Geography' column by removing anything after "!!"
df_clean['Geography'] = df_clean['Geography'].str.split('!!').str[0]

# Remove duplicates in 'Geography' that might have resulted from this split
df_clean.drop_duplicates(subset='Geography', inplace=True)

# Display the cleaned dataframe to verify the changes
df_clean.head()

df_new= pd.read_csv(r"Q:\Downloads\ACSST1Y2022.S1701-2024-08-13T195758.csv")

# Transpose the dataframe so that counties are rows
df_new_transposed = df_new.set_index('Label (Grouping)').transpose()

# Reset the index and rename the index column to 'Geography'
df_new_transposed = df_new_transposed.reset_index().rename(columns={'index': 'Geography'})

# Remove rows that contain "Margin of Error" in the 'Geography' column
df_new_cleaned = df_new_transposed[~df_new_transposed['Geography'].str.contains('Margin of Error', na=False)]

# Clean up the column names by stripping leading and trailing whitespace
df_new_cleaned.columns = df_new_cleaned.columns.str.strip()

# Extract only the relevant part of the 'Geography' column by removing anything after "!!"
df_new_cleaned['Geography'] = df_new_cleaned['Geography'].str.split('!!').str[0]

# Remove duplicates in 'Geography' that might have resulted from this split
df_new_cleaned.drop_duplicates(subset='Geography', inplace=True)

# Display the first few rows of the cleaned dataframe to verify the changes
df_new_cleaned.head()

[5 rows x 1697 columns]

df_third = pd.read_csv(r"Q:\Downloads\ACSST1Y2022.S1902-2024-08-13T195626.csv")

# Transpose the dataframe so that counties are rows
df_third_transposed = df_third.set_index('Label (Grouping)').transpose()

# Reset the index and rename the index column to 'Geography'
df_third_transposed = df_third_transposed.reset_index().rename(columns={'index': 'Geography'})

# Remove rows that contain "Margin of Error" in the 'Geography' column
df_third_cleaned = df_third_transposed[~df_third_transposed['Geography'].str.contains('Margin of Error', na=False)]

# Clean up the column names by stripping leading and trailing whitespace
df_third_cleaned.columns = df_third_cleaned.columns.str.strip()

# Extract only the relevant part of the 'Geography' column by removing anything after "!!"
df_third_cleaned['Geography'] = df_third_cleaned['Geography'].str.split('!!').str[0]

# Remove duplicates in 'Geography' that might have resulted from this split
df_third_cleaned.drop_duplicates(subset='Geography', inplace=True)

# Display the first few rows of the cleaned dataframe to verify the changes
df_third_cleaned.head()

df_clean_df.to_csv('Q:\Downloads\df_clean.csv", index=False)
df_new_cleaned_df.to_csv('Q:\Downloads\df_new_cleaned.csv", index=False)
df_third_transposed_df.to_csv('Q:\Downloads\cleaned_geography_data_v3.csv", index=False)
                   
import pandas as pd

# Load the datasets
df1 = pd.read_csv('cleaned_geography_data.csv')
df2 = pd.read_csv('cleaned_geography_data_v2.csv')
df3 = pd.read_csv('cleaned_geography_data_v3.csv')

# Merge the first two dataframes on "Geography"
merged_df = pd.merge(df1, df2, on="Geography", how="inner")

# Merge the result with the third dataframe on "Geography"
final_merged_df = pd.merge(merged_df, df3, on="Geography", how="inner")

# Save the final merged dataframe to a CSV file
final_merged_df.to_csv(www.final_merged_geography_data.csv,'' index=False)

final_merged_file_path

# Display the first few rows and the columns to inspect for redundancy
final_merged_df.head(), final_merged_df.columns.tolist()

#Removing uneeded Columns.
#Here I identity and remove columns that are redundand and/or unnecessary for the analysis. 
# Load dataset using a raw string literal
final_filtered_df = pd.read_csv(r"Q:\Downloads\Data Projects\Datasets\Cancer Research\final_merged_geography_data.csv")

# Identifying columns to drop based on redundancy
columns_to_drop = [
    'White alone', 'White alone, not Hispanic or Latino_y',
    'Black or African American alone', 'American Indian and Alaska Native alone',
    'Asian alone', 'Native Hawaiian and Other Pacific Islander alone',
    'Some other race alone', 'Two or more races_y',
    'Under 18 years', '18 to 64 years', '65 years and over',
    'Male.1', 'Female.1', 'Male.2', 'Female.2',
    'Below 100 percent of poverty level in the past 12 months.1',
    '100 to 199 percent of poverty level in the past 12 months.1',
    '200 percent or more of poverty level in the past 12 months.1',
    'Now married (including separated and spouse absent):.1',
    'Unmarried (never married, widowed and divorced):.1',
    'Two or more races_x',
]

# Dropping the identified redundant columns
final_reduced_df = final_filtered_df.drop(columns=columns_to_drop, errors='ignore')

# Save the final reduced dataframe to a CSV file
final_reduced_df.to_csv('final_reduced_geography_data.csv', index=False)

print("The final reduced dataset has been saved successfully.")

#Dealing with missing values





















#Uploading and Mergning the Household and Cancer Data set
#THe Household_size dataset has some columns that maybe useufl for future analysis
# Read in the dataset and name the dataframe 'cancer_reg' cancer_reg = pd.read_csv(file_path) # Rename columns to more readable names column_renames = { 'avganncount': 'Average_Annual_Cancer_Cases', 'avgdeathsperyear': 'Average_Deaths_Per_Year', 'target_deathrate': 'Target_Death_Rate', 'incidencerate': 'Cancer_Incidence_Rate', 'medincome': 'Median_Income', 'popest2015': 'Population_Estimate_2015', 'povertypercent': 'Poverty_Percentage', 'studypercap': 'Study_Participants_Per_Capita', 'binnedinc': 'Binned_Income', 'medianage': 'Median_Age', 'medianagemale': 'Median_Age_Male', 'medianagefemale': 'Median_Age_Female', 'geography': 'Geography', 'percentmarried': 'Percentage_Married', 'pctnohs18_24': 'Percent_No_HS_Diploma_18_24', 'pcths18_24': 'Percent_HS_Diploma_18_24', 'pctsomecol18_24': 'Percent_Some_College_18_24', 'pctbachdeg18_24': 'Percent_Bachelor_Degree_18_24', 'pcths25_over': 'Percent_HS_Diploma_25_Over', 'pctbachdeg25_over': 'Percent_Bachelor_Degree_25_Over', 'pctemployed16_over': 'Percent_Employed_16_Over', 'pctunemployed16_over': 'Percent_Unemployed_16_Over', 'pctprivatecoverage': 'Percent_Private_Health_Coverage', 'pctprivatecoveragealone': 'Percent_Private_Health_Coverage_Alone', 'pctempprivcoverage': 'Percent_Employed_Private_Coverage', 'pctpubliccoverage': 'Percent_Public_Health_Coverage', 'pctpubliccoveragealone': 'Percent_Public_Health_Coverage_Alone', 'pctwhite': 'Percent_White', 'pctblack': 'Percent_Black', 'pctasian': 'Percent_Asian', 'pctotherrace': 'Percent_Other_Race', 'pctmarriedhouseholds': 'Percent_Married_Households', 'birthrate': 'Birth_Rate' } # Apply the renaming to the dataframe cancer_reg.rename(columns=column_renames, inplace=True) # Basic data cleaning: Check for missing values missing_values = cancer_reg.isnull().sum() # Display missing values print("Missing values in each column:") print(missing_values[missing_values > 0]) # Optionally, you can save the cleaned dataframe to a new file cleaned_file_path = r"Q:\Downloads\Data Projects\Datasets\Cancer Research\cancer_reg_cleaned.csv" cancer_reg.to_csv(cleaned_file_path, index=False) print(f"Cleaned data has been saved to {cleaned_file_path}")
# Reading the Data: The script reads the dataset from the specified path.
# Renaming Columns: The columns are renamed to more descriptive and readable names.
# Finding Missing Values: It checks each column for missing values and prints out a summary of columns that have any missing data.
# Saving Cleaned Data: Finally, the script saves the cleaned dataset with the renamed columns to a new file.


household_size = pd.read_csv('Q:\Downloads\household_size.csv", index=False)

# Example of renaming columns (if necessary). You can customize these as needed.
column_renames = {
    'column1': 'New_Column1_Name',
    'column2': 'New_Column2_Name',
    # Add other columns that need to be renamed
}

# Apply renaming to the household_size dataframe
household_size.rename(columns=column_renames, inplace=True)

# Basic data cleaning: Checking for missing values
missing_values = household_size.isnull().sum()

# Display missing values
print("Missing values in each column:")
print(missing_values[missing_values > 0])

# Drop rows with missing values
household_size_cleaned = household_size.dropna()


# Save the cleaned dataframe to a new CSV file
cleaned_file_path = r"Q:\Downloads\Data Projects\Datasets\Household Size\household_size_cleaned.csv"
household_size_cleaned.to_csv(cleaned_file_path, index=False)

In [1]:
#Uploading and cleaning the Cancer rates data
import pandas as pd

cancer_reg= pd.read_csv("Q:\\Downloads\\Data Projects\\Datasets\\Cancer Research\\cancer_reg.csv")
household_size = pd.read_csv("Q:\\Downloads\\Data Projects\\Datasets\Cancer Research\\household_size_cleaned.csv")


# Display the first few rows of each DataFrame to confirm everything is loaded correctly
print(cancer_reg.head())
print(household_size.head())

   avganncount  avgdeathsperyear  target_deathrate  incidencerate  medincome  \
0       1397.0               469             164.9          489.8      61898
1        173.0                70             161.3          411.6      48127
2        102.0                50             174.7          349.7      49348
3        427.0               202             194.8          430.4      44243
4         57.0                26             144.4          350.1      49955

   popest2015  povertypercent  studypercap           binnedinc  medianage  \
0      260131            11.2   499.748204   (61494.5, 125635]       39.3
1       43269            18.6    23.111234  (48021.6, 51046.4]       33.0
2       21026            14.6    47.560164  (48021.6, 51046.4]       45.0
3       75882            17.1   342.637253    (42724.4, 45201]       42.8
4       10321            12.5     0.000000  (48021.6, 51046.4]       48.3

   ...  pctprivatecoveragealone  pctempprivcoverage pctpubliccoverage  \
0  ...                      NaN                41.6              32.9
1  ...                     53.8                43.6              31.1
2  ...                     43.5                34.9              42.1
3  ...                     40.3                35.0              45.3
4  ...                     43.9                35.1              44.0

   pctpubliccoveragealone   pctwhite  pctblack  pctasian  pctotherrace  \
0                    14.0  81.780529  2.594728  4.821857      1.843479
1                    15.3  89.228509  0.969102  2.246233      3.741352
2                    21.1  90.922190  0.739673  0.465898      2.747358
3                    25.0  91.744686  0.782626  1.161359      1.362643
4                    22.7  94.104024  0.270192  0.665830      0.492135

   pctmarriedhouseholds  birthrate
0             52.856076   6.118831
1             45.372500   4.333096
2             54.444868   3.729488
3             51.021514   4.603841
4             54.027460   6.796657

[5 rows x 33 columns]
   statefips  countyfips  avghouseholdsize                           geography
0          2          13              2.43      Aleutians East Borough, Alaska
1          2          16              3.59  Aleutians West Census Area, Alaska
2          2          20              2.77      Anchorage Municipality, Alaska
3          2          50              3.86          Bethel Census Area, Alaska
4          2          60              2.50         Bristol Bay Borough, Alaska

In [2]:
# Rename columns to more readable names
column_renames = {
    'avganncount': 'Average_Annual_Cancer_Cases',
    'avgdeathsperyear': 'Average_Deaths_Per_Year',
    'target_deathrate': 'Target_Death_Rate',
    'incidencerate': 'Cancer_Incidence_Rate',
    'medincome': 'Median_Income',
    'popest2015': 'Population_Estimate_2015',
    'povertypercent': 'Poverty_Percentage',
    'studypercap': 'Study_Participants_Per_Capita',
    'binnedinc': 'Binned_Income',
    'medianage': 'Median_Age',
    'medianagemale': 'Median_Age_Male',
    'medianagefemale': 'Median_Age_Female',
    'geography': 'Geography',
    'percentmarried': 'Percentage_Married',
    'pctnohs18_24': 'Percent_No_HS_Diploma_18_24',
    'pcths18_24': 'Percent_HS_Diploma_18_24',
    'pctsomecol18_24': 'Percent_Some_College_18_24',
    'pctbachdeg18_24': 'Percent_Bachelor_Degree_18_24',
    'pcths25_over': 'Percent_HS_Diploma_25_Over',
    'pctbachdeg25_over': 'Percent_Bachelor_Degree_25_Over',
    'pctemployed16_over': 'Percent_Employed_16_Over',
    'pctunemployed16_over': 'Percent_Unemployed_16_Over',
    'pctprivatecoverage': 'Percent_Private_Health_Coverage',
    'pctprivatecoveragealone': 'Percent_Private_Health_Coverage_Alone',
    'pctempprivcoverage': 'Percent_Employed_Private_Coverage',
    'pctpubliccoverage': 'Percent_Public_Health_Coverage',
    'pctpubliccoveragealone': 'Percent_Public_Health_Coverage_Alone',
    'pctwhite': 'Percent_White',
    'pctblack': 'Percent_Black',
    'pctasian': 'Percent_Asian',
    'pctotherrace': 'Percent_Other_Race',
    'pctmarriedhouseholds': 'Percent_Married_Households',
    'birthrate': 'Birth_Rate'
}

# Apply the renaming to the dataframe
cancer_reg.rename(columns=column_renames, inplace=True)

In [3]:
# Rename columns in the household data
household_size.rename(columns={
    'statefips': 'State FIPS',
    'countyfips': 'County FIPS',
    'avghouseholdsize': 'Avg Household Size',
    'geography': 'Geography'
}, inplace=True)

In [4]:
# Basic data cleaning: Check for missing values
missing_values = cancer_reg.isnull().sum()

# Display missing values
print("Missing values in each column:")
print(missing_values[missing_values > 0])

# Save the cleaned dataframe to a new file
cleaned_file_path = r"Q:\Downloads\Data Projects\Datasets\Cancer Research\cancer_reg_cleaned.csv"
cancer_reg.to_csv(cleaned_file_path, index=False)

Missing values in each column:
Percent_Some_College_18_24               2285
Percent_Employed_16_Over                  152
Percent_Private_Health_Coverage_Alone     609
dtype: int64
Cleaned data has been saved to Q:\Downloads\Data Projects\Datasets\Cancer Research\cancer_reg_cleaned.csv

In [5]:

# Wranglie wiht missing values
# We have chosen to impus the missing values  using the mean and median of the dataset. These columns are not essential to the data analysis but may be useful in the future

# Impute missing values
cancer_reg['Percent_Some_College_18_24'].fillna(cancer_reg['Percent_Some_College_18_24'].mean(), inplace=True)
cancer_reg['Percent_Employed_16_Over'].fillna(cancer_reg['Percent_Employed_16_Over'].median(), inplace=True)
cancer_reg['Percent_Private_Health_Coverage_Alone'].fillna(cancer_reg['Percent_Private_Health_Coverage_Alone'].mean(), inplace=True)

# Check if missing values are handled
print(cancer_reg.isnull().sum())

Average_Annual_Cancer_Cases              0
Average_Deaths_Per_Year                  0
Target_Death_Rate                        0
Cancer_Incidence_Rate                    0
Median_Income                            0
Population_Estimate_2015                 0
Poverty_Percentage                       0
Study_Participants_Per_Capita            0
Binned_Income                            0
Median_Age                               0
Median_Age_Male                          0
Median_Age_Female                        0
Geography                                0
Percentage_Married                       0
Percent_No_HS_Diploma_18_24              0
Percent_HS_Diploma_18_24                 0
Percent_Some_College_18_24               0
Percent_Bachelor_Degree_18_24            0
Percent_HS_Diploma_25_Over               0
Percent_Bachelor_Degree_25_Over          0
Percent_Employed_16_Over                 0
Percent_Unemployed_16_Over               0
Percent_Private_Health_Coverage          0
Percent_Private_Health_Coverage_Alone    0
Percent_Employed_Private_Coverage        0
Percent_Public_Health_Coverage           0
Percent_Public_Health_Coverage_Alone     0
Percent_White                            0
Percent_Black                            0
Percent_Asian                            0
Percent_Other_Race                       0
Percent_Married_Households               0
Birth_Rate                               0
dtype: int64

C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\1778992042.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cancer_reg['Percent_Some_College_18_24'].fillna(cancer_reg['Percent_Some_College_18_24'].mean(), inplace=True)
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\1778992042.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cancer_reg['Percent_Employed_16_Over'].fillna(cancer_reg['Percent_Employed_16_Over'].median(), inplace=True)
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\1778992042.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  cancer_reg['Percent_Private_Health_Coverage_Alone'].fillna(cancer_reg['Percent_Private_Health_Coverage_Alone'].mean(), inplace=True)

In [7]:
#Merg the two datasets 'Houshold_Size and Cancer_Reg'
# Checking the column names for both datasets to identify the correct merge keys
household_size.columns, cancer_reg.columns

(Index(['State FIPS', 'County FIPS', 'Avg Household Size', 'Geography'], dtype='object'),
 Index(['Average_Annual_Cancer_Cases', 'Average_Deaths_Per_Year',
        'Target_Death_Rate', 'Cancer_Incidence_Rate', 'Median_Income',
        'Population_Estimate_2015', 'Poverty_Percentage',
        'Study_Participants_Per_Capita', 'Binned_Income', 'Median_Age',
        'Median_Age_Male', 'Median_Age_Female', 'Geography',
        'Percentage_Married', 'Percent_No_HS_Diploma_18_24',
        'Percent_HS_Diploma_18_24', 'Percent_Some_College_18_24',
        'Percent_Bachelor_Degree_18_24', 'Percent_HS_Diploma_25_Over',
        'Percent_Bachelor_Degree_25_Over', 'Percent_Employed_16_Over',
        'Percent_Unemployed_16_Over', 'Percent_Private_Health_Coverage',
        'Percent_Private_Health_Coverage_Alone',
        'Percent_Employed_Private_Coverage', 'Percent_Public_Health_Coverage',
        'Percent_Public_Health_Coverage_Alone', 'Percent_White',
        'Percent_Black', 'Percent_Asian', 'Percent_Other_Race',
        'Percent_Married_Households', 'Birth_Rate'],
       dtype='object'))

In [8]:
# Attempting to merge the datasets on the 'geography' column
merged_data_geography = pd.merge(cancer_reg, household_size, on='Geography')

# Display the first few rows of the merged dataset to confirm the merge
merged_data_geography.head()

,Average_Annual_Cancer_Cases,Average_Deaths_Per_Year,Target_Death_Rate,Cancer_Incidence_Rate,Median_Income,Population_Estimate_2015,Poverty_Percentage,Study_Participants_Per_Capita,Binned_Income,Median_Age,...,Percent_Public_Health_Coverage_Alone,Percent_White,Percent_Black,Percent_Asian,Percent_Other_Race,Percent_Married_Households,Birth_Rate,State FIPS,County FIPS,Avg Household Size
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831,53,35,2.54
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096,53,37,2.34
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488,53,39,2.62
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841,53,41,2.52
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657,53,43,2.34

In [9]:
# Find the Summary statistics for the merged dataset
summary_stats = merged_data_geography.describe()

In [10]:
summary_stats

,Average_Annual_Cancer_Cases,Average_Deaths_Per_Year,Target_Death_Rate,Cancer_Incidence_Rate,Median_Income,Population_Estimate_2015,Poverty_Percentage,Study_Participants_Per_Capita,Median_Age,Median_Age_Male,...,Percent_Public_Health_Coverage_Alone,Percent_White,Percent_Black,Percent_Asian,Percent_Other_Race,Percent_Married_Households,Birth_Rate,State FIPS,County FIPS,Avg Household Size
count,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3.047000e+03,3047.000000,3047.000000,3047.000000,3047.000000,...,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000,3047.000000
mean,606.338544,185.965868,178.664063,448.268586,47063.281917,1.026374e+05,16.878175,155.399415,45.272333,39.570725,...,19.240072,83.645286,9.107978,1.253965,1.983523,51.243872,5.640306,30.272071,101.802429,2.529682
std,1416.356223,504.134286,27.751511,54.560733,12040.090836,3.290592e+05,6.409087,529.628366,45.304480,5.226017,...,6.113041,16.380025,14.534538,2.610276,3.517710,6.572814,1.985816,15.054873,104.315612,0.248449
min,6.000000,3.000000,59.700000,201.300000,22640.000000,8.270000e+02,3.200000,0.000000,22.300000,22.400000,...,2.600000,10.199155,0.000000,0.000000,0.000000,22.992490,0.000000,1.000000,1.000000,1.860000
25%,76.000000,28.000000,161.200000,420.300000,38882.500000,1.168400e+04,12.150000,0.000000,37.700000,36.350000,...,14.850000,77.296180,0.620675,0.254199,0.295172,47.763063,4.521419,19.000000,35.000000,2.380000
50%,171.000000,61.000000,178.100000,453.549422,45207.000000,2.664300e+04,15.900000,0.000000,41.000000,39.600000,...,18.800000,90.059774,2.247576,0.549812,0.826185,51.669941,5.381478,29.000000,79.000000,2.500000
75%,518.000000,149.000000,195.200000,480.850000,52492.000000,6.867100e+04,20.400000,83.650776,44.000000,42.500000,...,23.100000,95.451693,10.509732,1.221037,2.177960,55.395132,6.493677,45.000000,133.000000,2.640000
max,38150.000000,14010.000000,362.800000,1206.900000,125635.000000,1.017029e+07,47.400000,9762.308998,624.000000,64.700000,...,46.600000,100.000000,85.947799,42.619425,41.930251,78.075397,21.326165,56.000000,840.000000,3.970000

In [11]:
# Save the DataFrame 
filename = r"Q:\Downloads\Data Projects\Datasets\Cancer Research\merged_data_geography.csv"

# Save the DataFrame to a CSV file
merged_data_geography.to_csv(filename, index=False)

In [12]:
type(merged_data_geography)

pandas.core.frame.DataFrame

In [13]:
#Merge our census data with the Cancer and Household data

# Load the datasets
final_reduced_df = pd.read_csv("Q:\\Downloads\\Data Projects\\Datasets\\Cancer Research\\final_reduced_geography_data.csv")


# Select specific columns to merge from merged_data_geography.csv
columns_to_merge = [
    'Geography', 'Average_Annual_Cancer_Cases', 'Average_Deaths_Per_Year', 
    'Target_Death_Rate', 'Cancer_Incidence_Rate', 'State FIPS', 'County FIPS', 'Avg Household Size'
]
merged_data_selected = merged_data_geography[columns_to_merge]

# Merge the datasets on "Geography"
merged_final_df = pd.merge(final_reduced_df, merged_data_selected, on='Geography', how='left')

#Show head of new dataset
print(merged_final_df.head())

# Save the merged dataset to a new CSV file
merged_final_df.to_csv('Q:\\Downloads\\Data Projects\\Datasets\\Cancer Research\\final_merged_geography_data.csv', index=False)

print("The merged dataset has been saved successfully.")

                 Geography  HOUSEHOLD INCOME All households With earnings  \
0  Baldwin County, Alabama               NaN         98,854        71,517
1  Calhoun County, Alabama               NaN         45,701        31,462
2  Cullman County, Alabama               NaN         35,966        26,221
3   DeKalb County, Alabama               NaN         26,459        18,345
4   Elmore County, Alabama               NaN         34,061        26,375

  With wages or salary income With self-employment income  \
0                      66,490                      12,202
1                      30,533                       2,894
2                      24,354                       5,647
3                      17,113                       3,856
4                      25,309                       3,168

  With interest, dividends, or net rental income With Social Security income  \
0                                         19,231                      38,523
1                                          6,625                      17,748
2                                          5,112                      13,310
3                                          3,232                       9,751
4                                          4,823                      11,852

  With Supplemental Security Income (SSI)  \
0                                   3,640
1                                   5,890
2                                   1,616
3                                   2,561
4                                   2,291

  With cash public assistance income or Food Stamps/SNAP  ...  \
0                                             10,102      ...
1                                              8,536      ...
2                                              3,680      ...
3                                              5,403      ...
4                                              2,998      ...

  Below 100 percent of poverty level in the past 12 months.3  \
0                                              6,324
1                                              4,981
2                                              3,358
3                                              3,350
4                                              1,334

  100 to 199 percent of poverty level in the past 12 months.3  \
0                                              4,485
1                                              3,759
2                                              2,125
3                                              1,746
4                                              3,022

  200 percent or more of poverty level in the past 12 months.3  \
0                                             11,871
1                                              6,933
2                                              3,851
3                                              4,288
4                                              5,799

   Average_Annual_Cancer_Cases Average_Deaths_Per_Year Target_Death_Rate  \
0                       1072.0                   424.0             174.3
1                        654.0                   267.0             191.9
2                        419.0                   189.0             187.9
3                        322.0                   138.0             170.6
4                        406.0                   158.0             193.8

  Cancer_Incidence_Rate State FIPS County FIPS Avg Household Size
0                 454.6        1.0         3.0               2.60
1                 475.9        1.0        15.0               2.52
2                 426.3        1.0        43.0               2.55
3                 399.4        1.0        49.0               2.81
4                 482.4        1.0        51.0               2.65

[5 rows x 115 columns]
The merged dataset has been saved successfully.

In [14]:
# Summary statistics for the merged dataset
summary_stats = merged_final_df.describe()

In [15]:
summary_stats

,HOUSEHOLD INCOME,FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY,PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN,One race--,AGE,SEX,RACE AND HISPANIC OR LATINO ORIGIN,EDUCATIONAL ATTAINMENT,EMPLOYMENT STATUS,WORK EXPERIENCE,ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS,Average_Annual_Cancer_Cases,Average_Deaths_Per_Year,Target_Death_Rate,Cancer_Incidence_Rate,State FIPS,County FIPS,Avg Household Size
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1500.883877,549.615951,172.419141,458.118755,29.966871,93.220859,2.609190
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2369.985578,869.590549,19.685531,38.844942,15.470274,107.359406,0.238947
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,155.000000,46.000000,104.100000,269.900000,1.000000,1.000000,2.050000
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,483.500000,183.500000,159.700000,435.650000,17.000000,29.000000,2.450000
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,777.000000,281.000000,173.000000,460.900000,33.000000,69.000000,2.560000
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1641.500000,564.500000,185.900000,484.300000,42.000000,117.000000,2.720000
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38150.000000,14010.000000,292.500000,559.100000,56.000000,810.000000,3.970000

In [19]:
#A bit more cleanup: Need to remove these empty columns that were row headers in the original census data

# List of columns to remove
columns_to_remove = [
    'HOUSEHOLD INCOME',
    'FAMILY INCOME BY NUMBER OF WORKERS IN FAMILY',
    'PER CAPITA INCOME BY RACE AND HISPANIC OR LATINO ORIGIN',
    'One race--',
    'AGE',
    'SEX',
    'RACE AND HISPANIC OR LATINO ORIGIN',
    'EDUCATIONAL ATTAINMENT',
    'EMPLOYMENT STATUS',
    'WORK EXPERIENCE',
    'ALL INDIVIDUALS WITH INCOME BELOW THE FOLLOWING POVERTY RATIOS'
]

# Drop the specified columns from the DataFrame
merged_final = merged_final_df.drop(columns=columns_to_remove, errors='ignore')

# Save the updated DataFrame to a new CSV file if needed
merged_final.to_csv('Q:\\Downloads\\Data Projects\\Datasets\\Cancer Research\\fupdated_merged_final_df.csv', index=False)

print("Specified columns have been removed and the updated dataset has been saved.")

Specified columns have been removed and the updated dataset has been saved.

In [20]:
# Summary statistics for the merged dataset
summary_stats2 = merged_final.describe()
summary_stats2

,Average_Annual_Cancer_Cases,Average_Deaths_Per_Year,Target_Death_Rate,Cancer_Incidence_Rate,State FIPS,County FIPS,Avg Household Size
count,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000,815.000000
mean,1500.883877,549.615951,172.419141,458.118755,29.966871,93.220859,2.609190
std,2369.985578,869.590549,19.685531,38.844942,15.470274,107.359406,0.238947
min,155.000000,46.000000,104.100000,269.900000,1.000000,1.000000,2.050000
25%,483.500000,183.500000,159.700000,435.650000,17.000000,29.000000,2.450000
50%,777.000000,281.000000,173.000000,460.900000,33.000000,69.000000,2.560000
75%,1641.500000,564.500000,185.900000,484.300000,42.000000,117.000000,2.720000
max,38150.000000,14010.000000,292.500000,559.100000,56.000000,810.000000,3.970000

In [21]:
#  Some inital Exploraty Analysis

# 1. Display basic information about the dataset
print("Basic Information:")
print(merged_final.info())

# 2. Display basic statistics for numerical columns
print("\nBasic Statistics:")
print(merged_final.describe())

# 3. Check for missing values in the dataset
print("\nMissing Values:")
print(merged_final.isnull().sum())

# 4. Display the first few rows of the dataset
print("\nFirst Few Rows:")
print(merged_final.head())

# 5. Display the distribution of categorical variables (if any)
print("\nCategorical Variable Distribution:")
categorical_columns = merged_final.select_dtypes(include=['object']).columns
for col in categorical_columns:
    print(f"\nDistribution for {col}:")
    print(merged_final[col].value_counts())

# 6. Check for correlations between numerical variables
print("\nCorrelation Matrix:")
print(merged_final.corr())

# 7. Identify columns with high variance
print("\nHigh Variance Columns:")
high_variance_cols = merged_final.var().sort_values(ascending=False).head()
print(high_variance_cols)

Basic Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 848 entries, 0 to 847
Columns: 104 entries, Geography to Avg Household Size
dtypes: float64(7), object(97)
memory usage: 689.1+ KB
None

Basic Statistics:
       Average_Annual_Cancer_Cases  Average_Deaths_Per_Year  \
count                   815.000000               815.000000
mean                   1500.883877               549.615951
std                    2369.985578               869.590549
min                     155.000000                46.000000
25%                     483.500000               183.500000
50%                     777.000000               281.000000
75%                    1641.500000               564.500000
max                   38150.000000             14010.000000

       Target_Death_Rate  Cancer_Incidence_Rate  State FIPS  County FIPS  \
count         815.000000             815.000000  815.000000   815.000000
mean          172.419141             458.118755   29.966871    93.220859
std            19.685531              38.844942   15.470274   107.359406
min           104.100000             269.900000    1.000000     1.000000
25%           159.700000             435.650000   17.000000    29.000000
50%           173.000000             460.900000   33.000000    69.000000
75%           185.900000             484.300000   42.000000   117.000000
max           292.500000             559.100000   56.000000   810.000000

       Avg Household Size
count          815.000000
mean             2.609190
std              0.238947
min              2.050000
25%              2.450000
50%              2.560000
75%              2.720000
max              3.970000

Missing Values:
Geography                       0
All households                  0
With earnings                   0
With wages or salary income     0
With self-employment income     0
                               ..
Target_Death_Rate              33
Cancer_Incidence_Rate          33
State FIPS                     33
County FIPS                    33
Avg Household Size             33
Length: 104, dtype: int64

First Few Rows:
                 Geography All households With earnings  \
0  Baldwin County, Alabama         98,854        71,517
1  Calhoun County, Alabama         45,701        31,462
2  Cullman County, Alabama         35,966        26,221
3   DeKalb County, Alabama         26,459        18,345
4   Elmore County, Alabama         34,061        26,375

  With wages or salary income With self-employment income  \
0                      66,490                      12,202
1                      30,533                       2,894
2                      24,354                       5,647
3                      17,113                       3,856
4                      25,309                       3,168

  With interest, dividends, or net rental income With Social Security income  \
0                                         19,231                      38,523
1                                          6,625                      17,748
2                                          5,112                      13,310
3                                          3,232                       9,751
4                                          4,823                      11,852

  With Supplemental Security Income (SSI)  \
0                                   3,640
1                                   5,890
2                                   1,616
3                                   2,561
4                                   2,291

  With cash public assistance income or Food Stamps/SNAP  \
0                                             10,102
1                                              8,536
2                                              3,680
3                                              5,403
4                                              2,998

  With cash public assistance  ...  \
0                         905  ...
1                         965  ...
2                         386  ...
3                         429  ...
4                         297  ...

  Below 100 percent of poverty level in the past 12 months.3  \
0                                              6,324
1                                              4,981
2                                              3,358
3                                              3,350
4                                              1,334

  100 to 199 percent of poverty level in the past 12 months.3  \
0                                              4,485
1                                              3,759
2                                              2,125
3                                              1,746
4                                              3,022

  200 percent or more of poverty level in the past 12 months.3  \
0                                             11,871
1                                              6,933
2                                              3,851
3                                              4,288
4                                              5,799

  Average_Annual_Cancer_Cases Average_Deaths_Per_Year Target_Death_Rate  \
0                      1072.0                   424.0             174.3
1                       654.0                   267.0             191.9
2                       419.0                   189.0             187.9
3                       322.0                   138.0             170.6
4                       406.0                   158.0             193.8

  Cancer_Incidence_Rate State FIPS County FIPS Avg Household Size
0                 454.6        1.0         3.0               2.60
1                 475.9        1.0        15.0               2.52
2                 426.3        1.0        43.0               2.55
3                 399.4        1.0        49.0               2.81
4                 482.4        1.0        51.0               2.65

[5 rows x 104 columns]

Categorical Variable Distribution:

Distribution for Geography:
Geography
Baldwin County, Alabama                 1
Lucas County, Ohio                      1
Marion County, Ohio                     1
Medina County, Ohio                     1
Miami County, Ohio                      1
                                       ..
Calcasieu Parish, Louisiana             1
East Baton Rouge Parish, Louisiana      1
Iberia Parish, Louisiana                1
Jefferson Parish, Louisiana             1
Trujillo Alto Municipio, Puerto Rico    1
Name: count, Length: 848, dtype: int64

Distribution for All households:
All households
50,248     2
64,437     2
32,158     2
54,689     2
98,854     1
          ..
180,749    1
28,039     1
176,925    1
103,581    1
29,677     1
Name: count, Length: 844, dtype: int64

Distribution for With earnings:
With earnings
49,080     2
33,445     2
38,444     2
45,441     2
71,517     1
          ..
138,349    1
20,404     1
136,764    1
80,700     1
20,657     1
Name: count, Length: 844, dtype: int64

Distribution for With wages or salary income:
With wages or salary income
25,079     2
201,791    2
25,650     2
58,034     2
28,583     2
          ..
19,795     1
129,902    1
73,584     1
105,018    1
17,985     1
Name: count, Length: 840, dtype: int64

Distribution for With self-employment income:
With self-employment income
3,934     2
6,066     2
5,242     2
2,773     2
5,236     2
         ..
2,511     1
23,247    1
15,448    1
4,506     1
4,502     1
Name: count, Length: 829, dtype: int64

Distribution for With interest, dividends, or net rental income:
With interest, dividends, or net rental income
9,744     2
7,871     2
6,543     2
8,192     2
4,971     2
         ..
2,415     1
28,008    1
12,244    1
6,168     1
1,777     1
Name: count, Length: 834, dtype: int64

Distribution for With Social Security income:
With Social Security income
21,124    2
14,911    2
16,654    2
13,774    2
9,943     2
         ..
32,540    1
25,752    1
46,991    1
9,720     1
12,240    1
Name: count, Length: 839, dtype: int64

Distribution for With Supplemental Security Income (SSI):
With Supplemental Security Income (SSI)
2,846    3
2,318    2
2,263    2
2,545    2
1,716    2
        ..
5,755    1
3,844    1
4,398    1
3,990    1
131      1
Name: count, Length: 804, dtype: int64

Distribution for With cash public assistance income or Food Stamps/SNAP:
With cash public assistance income or Food Stamps/SNAP
4,781     3
3,691     2
7,223     2
2,950     2
4,766     2
         ..
11,629    1
30,105    1
8,377     1
32,481    1
9,642     1
Name: count, Length: 827, dtype: int64

Distribution for With cash public assistance:
With cash public assistance
776      3
830      3
1,584    3
1,038    3
905      2
        ..
1,391    1
803      1
2,953    1
3,522    1
4,304    1
Name: count, Length: 767, dtype: int64

Distribution for With retirement income:
With retirement income
11,228    2
9,803     2
4,799     2
9,492     2
12,247    2
         ..
36,998    1
6,360     1
42,690    1
16,128    1
6,506     1
Name: count, Length: 838, dtype: int64

Distribution for With other types of income:
With other types of income
9,415     2
8,857     2
3,749     2
2,539     2
8,541     2
         ..
12,088    1
5,821     1
3,389     1
3,686     1
2,159     1
Name: count, Length: 825, dtype: int64

Distribution for All families:
All families
19,612     2
44,213     2
30,484     2
197,910    1
51,560     1
          ..
105,432    1
17,623     1
103,408    1
63,242     1
16,927     1
Name: count, Length: 845, dtype: int64

Distribution for No workers:
No workers
N         76
4,601      3
3,636      2
4,641      2
4,264      2
          ..
18,526     1
3,471      1
15,127     1
9,613      1
4,225      1
Name: count, Length: 745, dtype: int64

Distribution for 1 worker:
1 worker
N         76
9,066      2
8,114      2
5,546      2
11,041     2
          ..
6,384      1
38,852     1
22,863     1
8,275      1
6,939      1
Name: count, Length: 759, dtype: int64

Distribution for 2 workers, both spouses worked:
2 workers, both spouses worked
N         76
23,573     2
7,146      2
8,491      2
8,620      2
          ..
27,668     1
21,273     1
7,376      1
13,130     1
2,231      1
Name: count, Length: 765, dtype: int64

Distribution for 2 workers, other:
2 workers, other
N        76
2,406     3
2,473     2
4,842     2
2,251     2
         ..
3,144     1
7,465     1
5,088     1
2,150     1
3,469     1
Name: count, Length: 739, dtype: int64

Distribution for 3 or more workers, both spouses worked:
3 or more workers, both spouses worked
N        76
3,083     3
3,529     2
1,697     2
3,047     2
         ..
6,447     1
4,257     1
2,054     1
3,017     1
934       1
Name: count, Length: 744, dtype: int64

Distribution for 3 or more workers, other:
3 or more workers, other
N        76
1,589     4
681       4
867       3
797       3
         ..
789       1
939       1
1,406     1
1,186     1
1,070     1
Name: count, Length: 692, dtype: int64

Distribution for Total population:
Total population
246,435    1
426,643    1
64,642     1
183,512    1
110,247    1
          ..
202,418    1
450,544    1
68,327     1
425,884    1
66,810     1
Name: count, Length: 848, dtype: int64

Distribution for White:
White
75,946     2
56,084     2
57,467     2
N          2
316,745    1
          ..
192,992    1
39,085     1
220,308    1
158,707    1
11,639     1
Name: count, Length: 844, dtype: int64

Distribution for Black or African American:
Black or African American
17,251     2
3,319      2
2,653      2
5,029      2
4,468      2
          ..
22,301     1
114,410    1
59,842     1
13,359     1
4,642      1
Name: count, Length: 833, dtype: int64

Distribution for American Indian and Alaska Native:
American Indian and Alaska Native
0        25
252       4
114       3
393       3
68        3
         ..
583       1
590       1
754       1
222       1
1,225     1
Name: count, Length: 718, dtype: int64

Distribution for Asian:
Asian
0        5
487      3
1,157    2
854      2
1,186    2
        ..
74       1
6,052    1
1,214    1
2,372    1
412      1
Name: count, Length: 819, dtype: int64

Distribution for Native Hawaiian and Other Pacific Islander:
Native Hawaiian and Other Pacific Islander
0      336
93       5
118      4
47       4
126      4
      ...
328      1
260      1
253      1
361      1
380      1
Name: count, Length: 384, dtype: int64

Distribution for Some other race:
Some other race
1,059     3
1,114     2
3,037     2
16,015    2
793       2
         ..
1,739     1
4,152     1
12,018    1
1,036     1
20,007    1
Name: count, Length: 824, dtype: int64

Distribution for Hispanic or Latino origin (of any race)_x:
Hispanic or Latino origin (of any race)_x
N          25
6,316       2
5,388       2
15,952      2
6,239       2
           ..
1,909       1
8,190       1
8,468       1
9,238       1
327,833     1
Name: count, Length: 817, dtype: int64

Distribution for White alone, not Hispanic or Latino_x:
White alone, not Hispanic or Latino_x
N          25
65,622      2
69,910      2
105,595     1
151,655     1
           ..
59,990      1
61,274      1
105,527     1
84,343      1
3,666       1
Name: count, Length: 822, dtype: int64

Distribution for Population for whom poverty status is determined:
Population for whom poverty status is determined
65,589     2
61,228     2
241,525    1
527,344    1
59,359     1
          ..
199,390    1
435,486    1
67,458     1
422,860    1
66,604     1
Name: count, Length: 846, dtype: int64

Distribution for Under 5 years:
Under 5 years
5,920     2
8,689     2
3,241     2
12,923    2
5,720     2
         ..
9,350     1
7,938     1
7,576     1
13,479    1
3,161     1
Name: count, Length: 827, dtype: int64

Distribution for 5 to 17 years:
5 to 17 years
10,717    2
10,323    2
10,492    2
13,157    2
9,620     2
         ..
35,762    1
72,832    1
12,133    1
67,200    1
7,396     1
Name: count, Length: 843, dtype: int64

Distribution for Related children of householder under 18 years:
Related children of householder under 18 years
17,738    2
49,358    1
77,562    1
44,747    1
13,654    1
         ..
99,475    1
16,885    1
92,693    1
58,066    1
10,557    1
Name: count, Length: 847, dtype: int64

Distribution for 18 to 34 years:
18 to 34 years
13,829     2
34,668     2
31,800     2
19,443     2
35,333     2
          ..
116,923    1
12,823     1
87,438     1
57,456     1
14,845     1
Name: count, Length: 841, dtype: int64

Distribution for 35 to 64 years:
35 to 64 years
25,513     2
95,553     1
203,023    1
21,534     1
74,687     1
          ..
150,187    1
26,664     1
162,492    1
93,549     1
26,612     1
Name: count, Length: 847, dtype: int64

Distribution for 60 years and over:
60 years and over
27,696     2
33,269     2
38,389     2
37,669     2
38,524     2
          ..
110,998    1
53,402     1
23,870     1
29,743     1
16,965     1
Name: count, Length: 841, dtype: int64

Distribution for Male:
Male
31,115     2
117,402    1
257,458    1
28,886     1
91,214     1
          ..
99,072     1
209,096    1
32,390     1
204,615    1
34,050     1
Name: count, Length: 847, dtype: int64

Distribution for Female:
Female
45,030     2
82,596     2
41,797     2
124,123    1
185,787    1
          ..
226,390    1
35,068     1
218,245    1
125,622    1
35,489     1
Name: count, Length: 845, dtype: int64

Distribution for White alone:
White alone
107,175    2
N          2
71,172     2
91,393     2
201,726    1
          ..
218,918    1
157,834    1
123,220    1
112,856    1
11,532     1
Name: count, Length: 844, dtype: int64

Distribution for Black or African American alone:
Black or African American alone
N          345
38,732       2
40,492       2
219,677      1
6,854        1
          ...
10,457       1
9,857        1
15,555       1
11,912       1
40,353       1
Name: count, Length: 502, dtype: int64

Distribution for American Indian and Alaska Native alone:
American Indian and Alaska Native alone
N         763
46,004      1
12,176      1
7,992       1
27,275      1
         ...
14,448      1
7,038       1
8,183       1
16,583      1
2,599       1
Name: count, Length: 86, dtype: int64

Distribution for Asian alone:
Asian alone
N          552
73,259       1
3,463        1
16,686       1
7,794        1
          ...
60,446       1
21,515       1
117,646      1
404,850      1
16,448       1
Name: count, Length: 297, dtype: int64

Distribution for Native Hawaiian and Other Pacific Islander alone:
Native Hawaiian and Other Pacific Islander alone
N         831
9,817       1
15,562      1
17,470      1
21,204      1
17,236      1
15,048      1
6,780       1
92,589      1
26,243      1
9,667       1
15,622      1
8,049       1
18,070      1
10,737      1
24,224      1
9,495       1
5,385       1
Name: count, dtype: int64

Distribution for Some other race alone:
Some other race alone
N          521
16,015       2
7,985        2
12,103       2
39,446       1
          ...
58,645       1
629,912      1
26,157       1
12,873       1
19,908       1
Name: count, Length: 325, dtype: int64

Distribution for Two or more races_y:
Two or more races_y
N         185
2,508       2
11,287      2
5,846       2
8,297       2
         ...
20,928      1
7,996       1
29,491      1
6,088       1
30,427      1
Name: count, Length: 656, dtype: int64

Distribution for Hispanic or Latino origin (of any race)_y:
Hispanic or Latino origin (of any race)_y
N         255
7,580       2
12,278      1
4,728       1
14,127      1
         ...
9,204       1
8,479       1
46,341      1
12,783      1
65,882      1
Name: count, Length: 593, dtype: int64

Distribution for White alone, not Hispanic or Latino_y:
White alone, not Hispanic or Latino_y
N          12
92,633      2
199,470     1
98,403      1
133,365     1
           ..
101,698     1
83,694      1
80,669      1
95,673      1
65,946      1
Name: count, Length: 836, dtype: int64

Distribution for Population 25 years and over:
Population 25 years and over
65,095     2
48,001     2
52,855     2
80,928     2
175,934    1
          ..
133,193    1
278,385    1
44,574     1
298,264    1
48,855     1
Name: count, Length: 844, dtype: int64

Distribution for Less than high school graduate:
Less than high school graduate
4,035     3
7,045     2
4,231     2
5,290     2
11,659    2
         ..
17,148    1
9,860     1
9,957     1
27,875    1
6,845     1
Name: count, Length: 829, dtype: int64

Distribution for High school graduate (includes equivalency):
High school graduate (includes equivalency)
20,035    2
22,626    2
23,700    2
48,155    1
95,795    1
         ..
44,330    1
68,952    1
18,327    1
80,595    1
6,806     1
Name: count, Length: 845, dtype: int64

Distribution for Some college, associate's degree:
Some college, associate's degree
22,398    2
15,016    2
23,231    2
18,596    2
14,070    2
         ..
43,986    1
76,606    1
11,138    1
87,104    1
13,053    1
Name: count, Length: 843, dtype: int64

Distribution for Bachelor's degree or higher:
Bachelor's degree or higher
20,248     2
48,508     2
14,213     2
23,639     2
11,622     2
          ..
32,750     1
107,477    1
5,768      1
95,313     1
24,248     1
Name: count, Length: 841, dtype: int64

Distribution for Civilian labor force 16 years and over:
Civilian labor force 16 years and over
86,354     2
32,967     2
116,394    1
92,930     1
97,744     1
          ..
31,085     1
214,458    1
124,059    1
43,743     1
32,341     1
Name: count, Length: 846, dtype: int64

Distribution for Employed:
Employed
48,360     2
112,869    1
88,898     1
94,240     1
55,367     1
          ..
215,043    1
29,376     1
204,913    1
117,901    1
30,194     1
Name: count, Length: 847, dtype: int64

Distribution for Unemployed:
Unemployed
1,463     3
1,525     2
1,419     2
1,465     2
1,494     2
         ..
6,158     1
1,679     1
3,572     1
12,284    1
2,147     1
Name: count, Length: 811, dtype: int64

Distribution for Population 16 years and over:
Population 16 years and over
87,486     2
67,097     2
85,357     2
198,290    1
57,843     1
          ..
178,089    1

ValueError: could not convert string to float: 'Baldwin County, Alabama'

In [25]:
#Check again for empyt values and remove them
# Check for NA or empty values in 'Total population', 'All households', and 'All families'
columns_to_check_na = ['Total population', 'All households', 'All families']

# Count rows with NA or empty values in these columns
na_counts = merged_final[columns_to_check_na].isna().sum()
empty_counts = (merged_final[columns_to_check_na] == '').sum()

# Total rows with NA or empty values
total_na_empty = na_counts + empty_counts

# Print the results
print("Rows with NA or empty values in each column:")
print(total_na_empty)

# Remove rows with NA or empty values in these columns
cleaned_df_specific = merged_final.dropna(subset=columns_to_check_na)
cleaned_df_specific = cleaned_df_specific[~(cleaned_df_specific[columns_to_check_na] == '').any(axis=1)]

# Calculate the number of rows removed
total_rows_removed = len(merged_final) - len(cleaned_df_specific)

print("\
Total rows removed due to NA or empty values in 'Total population', 'All households', and 'All families':")
print(total_rows_removed)

Rows with NA or empty values in each column:
Total population    0
All households      0
All families        0
dtype: int64
Total rows removed due to NA or empty values in 'Total population', 'All households', and 'All families':
0

In [26]:
#Lets fine the averges for these variables
# Calculate averages for various factors

# Convert relevant columns to numeric, handling any errors by coercing them to NaN
merged_final['Total population'] = pd.to_numeric(merged_final['Total population'].str.replace(',', ''), errors='coerce')
merged_final['All households'] = pd.to_numeric(merged_final['All households'].str.replace(',', ''), errors='coerce')
merged_final['All families'] = pd.to_numeric(merged_final['All families'].str.replace(',', ''), errors='coerce')

# Calculate averages
average_population = merged_final['Total population'].mean()
average_households = merged_final['All households'].mean()
average_families = merged_final['All families'].mean()

# Print the averages
print('Average Total Population:', average_population)
print('Average All Households:', average_households)
print('Average All Families:', average_families)

Average Total Population: 337631.54009433964
Average All Households: 130917.03773584905
Average All Families: 83623.25117924529

In [28]:
#Lets ensure there are no more empty values in the dataset
import numpy as np

# List of all columns i'm interested in
all_columns = [
    'All households', 'With earnings', 'With wages or salary income', 'With self-employment income',
    'With Social Security income', 'With Supplemental Security Income (SSI)',
    'With cash public assistance income or Food Stamps/SNAP',
    'White', 'Black or African American', 'Asian',
    'Hispanic or Latino origin (of any race)_x',
    'Population for whom poverty status is determined',
    'Employed', 'Unemployed',
    'Women who had a birth in the past 12 months:',
    '50 percent of poverty level', '125 percent of poverty level',
    '150 percent of poverty level', '185 percent of poverty level',
    '200 percent of poverty level', 'Total population', 'All families'
]

# Count NA values
na_counts = merged_final[all_columns].isna().sum()

# Count empty string values
empty_counts = (merged_final[all_columns] == '').sum()

# Total of NA and empty values
total_na_empty = na_counts + empty_counts

# Calculate percentage of missing values
percent_missing = (total_na_empty / len(merged_final)) * 100

# Combine counts and percentages into a DataFrame
missing_data = pd.DataFrame({
    'NA Count': na_counts,
    'Empty Count': empty_counts,
    'Total Missing': total_na_empty,
    'Percent Missing': percent_missing
})

# Sort by Total Missing in descending order
missing_data_sorted = missing_data.sort_values('Total Missing', ascending=False)

# Print the results
print("Missing data summary:")
print(missing_data_sorted)

# Calculate total rows with any missing data
rows_with_missing = merged_final[all_columns].isna().any(axis=1) | (merged_final[all_columns] == '').any(axis=1)
total_rows_with_missing = rows_with_missing.sum()

print(f"\
Total rows with missing data in any column: {total_rows_with_missing}")
print(f"Percentage of rows with missing data: {(total_rows_with_missing / len(merged_final)) * 100:.2f}%")

# Identify columns with the highest percentage of missing data
high_missing_cols = missing_data_sorted[missing_data_sorted['Percent Missing'] > 5]
print("\
Columns with more than 5% missing data:")
print(high_missing_cols[['Total Missing', 'Percent Missing']])

Missing data summary:
                                                    NA Count  Empty Count  \
Women who had a birth in the past 12 months:              36            0
All households                                             0            0
With earnings                                              0            0
Total population                                           0            0
200 percent of poverty level                               0            0
185 percent of poverty level                               0            0
150 percent of poverty level                               0            0
125 percent of poverty level                               0            0
50 percent of poverty level                                0            0
Unemployed                                                 0            0
Employed                                                   0            0
Population for whom poverty status is determined           0            0
Hispanic or Latino origin (of any race)_x                  0            0
Asian                                                      0            0
Black or African American                                  0            0
White                                                      0            0
With cash public assistance income or Food Stam...         0            0
With Supplemental Security Income (SSI)                    0            0
With Social Security income                                0            0
With self-employment income                                0            0
With wages or salary income                                0            0
All families                                               0            0

                                                    Total Missing  \
Women who had a birth in the past 12 months:                   36
All households                                                  0
With earnings                                                   0
Total population                                                0
200 percent of poverty level                                    0
185 percent of poverty level                                    0
150 percent of poverty level                                    0
125 percent of poverty level                                    0
50 percent of poverty level                                     0
Unemployed                                                      0
Employed                                                        0
Population for whom poverty status is determined                0
Hispanic or Latino origin (of any race)_x                       0
Asian                                                           0
Black or African American                                       0
White                                                           0
With cash public assistance income or Food Stam...              0
With Supplemental Security Income (SSI)                         0
With Social Security income                                     0
With self-employment income                                     0
With wages or salary income                                     0
All families                                                    0

                                                    Percent Missing
Women who had a birth in the past 12 months:               4.245283
All households                                             0.000000
With earnings                                              0.000000
Total population                                           0.000000
200 percent of poverty level                               0.000000
185 percent of poverty level                               0.000000
150 percent of poverty level                               0.000000
125 percent of poverty level                               0.000000
50 percent of poverty level                                0.000000
Unemployed                                                 0.000000
Employed                                                   0.000000
Population for whom poverty status is determined           0.000000
Hispanic or Latino origin (of any race)_x                  0.000000
Asian                                                      0.000000
Black or African American                                  0.000000
White                                                      0.000000
With cash public assistance income or Food Stam...         0.000000
With Supplemental Security Income (SSI)                    0.000000
With Social Security income                                0.000000
With self-employment income                                0.000000
With wages or salary income                                0.000000
All families                                               0.000000
Total rows with missing data in any column: 36
Percentage of rows with missing data: 4.25%
Columns with more than 5% missing data:
Empty DataFrame
Columns: [Total Missing, Percent Missing]
Index: []

In [39]:
#Check columns for data type to ensure they are numerical and transform if they are not

# Check data types of relevant columns
columns_to_check = ['With earnings', 'With wages or salary income', 'With self-employment income',
                    'With Social Security income', 'With Supplemental Security Income (SSI)',
                    'With cash public assistance income or Food Stamps/SNAP',
                    'White', 'Black or African American', 'Asian',
                    'Hispanic or Latino origin (of any race)_x',
                    'Population for whom poverty status is determined',
                    'Employed', 'Unemployed',
                    'Women who had a birth in the past 12 months:',
                    '50 percent of poverty level', '125 percent of poverty level',
                    '150 percent of poverty level', '185 percent of poverty level',
                    '200 percent of poverty level']

print("Data types before conversion:")
print(merged_final[columns_to_check].dtypes)

# Print a few rows of 'All households' column to see its content
print("\
First few rows of 'All households':")
print(merged_final['All households'].head())

# Convert relevant columns to numeric, handling any errors
for col in columns_to_check:
    merged_final[col] = pd.to_numeric(merged_final[col].str.replace(',', ''), errors='coerce')

print("\
Data types after conversion:")
print(merged_final[columns_to_check].dtypes)

# Print a few rows of 'All households' column after conversion
print("\
First few rows of 'All households' after conversion:")
print(merged_final['All households'].head())

# Check for any remaining non-numeric values
non_numeric = merged_final[columns_to_check].select_dtypes(exclude=[np.number])
if not non_numeric.empty:
    print("\
Columns with non-numeric values:")
    print(non_numeric.columns.tolist())
else:
    print("\
All specified columns are now numeric.")

Data types before conversion:
With earnings                                             object
With wages or salary income                               object
With self-employment income                               object
With Social Security income                               object
With Supplemental Security Income (SSI)                   object
With cash public assistance income or Food Stamps/SNAP    object
White                                                     object
Black or African American                                 object
Asian                                                     object
Hispanic or Latino origin (of any race)_x                 object
Population for whom poverty status is determined          object
Employed                                                  object
Unemployed                                                object
Women who had a birth in the past 12 months:              object
50 percent of poverty level                               object
125 percent of poverty level                              object
150 percent of poverty level                              object
185 percent of poverty level                              object
200 percent of poverty level                              object
dtype: object
First few rows of 'All households':
0    98854
1    45701
2    35966
3    26459
4    34061
Name: All households, dtype: int64
Data types after conversion:
With earnings                                               int64
With wages or salary income                                 int64
With self-employment income                                 int64
With Social Security income                                 int64
With Supplemental Security Income (SSI)                     int64
With cash public assistance income or Food Stamps/SNAP      int64
White                                                     float64
Black or African American                                 float64
Asian                                                     float64
Hispanic or Latino origin (of any race)_x                 float64
Population for whom poverty status is determined            int64
Employed                                                    int64
Unemployed                                                  int64
Women who had a birth in the past 12 months:              float64
50 percent of poverty level                                 int64
125 percent of poverty level                                int64
150 percent of poverty level                                int64
185 percent of poverty level                                int64
200 percent of poverty level                                int64
dtype: object
First few rows of 'All households' after conversion:
0    98854
1    45701
2    35966
3    26459
4    34061
Name: All households, dtype: int64
All specified columns are now numeric.

In [40]:
#Find various percentages for deeper analysis. Create new columns by dividing with All households, and/or Total Population where appropiate

# Remove rows with 'NA' or empty values in the relevant columns
cleaned_df = merged_final.dropna(subset=columns_to_check)

# Recalculate percentages and averages on the cleaned data
cleaned_df['Percent with earnings'] = cleaned_df['With earnings'] / cleaned_df['All households'] * 100
cleaned_df['Percent with wages'] = cleaned_df['With wages or salary income'] / cleaned_df['All households'] * 100
cleaned_df['Percent with self-employment'] = cleaned_df['With self-employment income'] / cleaned_df['All households'] * 100
cleaned_df['Percent with Social Security'] = cleaned_df['With Social Security income'] / cleaned_df['All households'] * 100
cleaned_df['Percent with SSI'] = cleaned_df['With Supplemental Security Income (SSI)'] / cleaned_df['All households'] * 100
cleaned_df['Percent with public assistance'] = cleaned_df['With cash public assistance income or Food Stamps/SNAP'] / cleaned_df['All households'] * 100

cleaned_df['Percent White'] = cleaned_df['White'] / cleaned_df['Total population'] * 100
cleaned_df['Percent Black'] = cleaned_df['Black or African American'] / cleaned_df['Total population'] * 100
cleaned_df['Percent Asian'] = cleaned_df['Asian'] / cleaned_df['Total population'] * 100
cleaned_df['Percent Hispanic'] = cleaned_df['Hispanic or Latino origin (of any race)_x'] / cleaned_df['Total population'] * 100

cleaned_df['Unemployment Rate'] = cleaned_df['Unemployed'] / (cleaned_df['Employed'] + cleaned_df['Unemployed']) * 100

cleaned_df['Birth Rate'] = cleaned_df['Women who had a birth in the past 12 months:'] / cleaned_df['Total population'] * 1000  # per 1000 population

cleaned_df['Percent in Extreme Poverty'] = cleaned_df['50 percent of poverty level'] / cleaned_df['Population for whom poverty status is determined'] * 100
cleaned_df['Percent in Poverty'] = cleaned_df['125 percent of poverty level'] / cleaned_df['Population for whom poverty status is determined'] * 100

# Calculate averages
cleaned_averages = {
    'Percent with earnings': cleaned_df['Percent with earnings'].mean(),
    'Percent with wages': cleaned_df['Percent with wages'].mean(),
    'Percent with self-employment': cleaned_df['Percent with self-employment'].mean(),
    'Percent with Social Security': cleaned_df['Percent with Social Security'].mean(),
    'Percent with SSI': cleaned_df['Percent with SSI'].mean(),
    'Percent with public assistance': cleaned_df['Percent with public assistance'].mean(),
    'Percent White': cleaned_df['Percent White'].mean(),
    'Percent Black': cleaned_df['Percent Black'].mean(),
    'Percent Asian': cleaned_df['Percent Asian'].mean(),
    'Percent Hispanic': cleaned_df['Percent Hispanic'].mean(),
    'Unemployment Rate': cleaned_df['Unemployment Rate'].mean(),
    'Birth Rate': cleaned_df['Birth Rate'].mean(),
    'Percent in Extreme Poverty': cleaned_df['Percent in Extreme Poverty'].mean(),
    'Percent in Poverty': cleaned_df['Percent in Poverty'].mean()
}

# Print results
for key, value in cleaned_averages.items():
    print(f"{key}: {value:.2f}")

Percent with earnings: 76.51
Percent with wages: 73.96
Percent with self-employment: 10.51
Percent with Social Security: 32.37
Percent with SSI: 5.03
Percent with public assistance: 12.74
Percent White: 69.23
Percent Black: 10.66
Percent Asian: 3.55
Percent Hispanic: 13.58
Unemployment Rate: 4.12
Birth Rate: 12.20
Percent in Extreme Poverty: 6.17
Percent in Poverty: 16.35

C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with earnings'] = cleaned_df['With earnings'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with wages'] = cleaned_df['With wages or salary income'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with self-employment'] = cleaned_df['With self-employment income'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with Social Security'] = cleaned_df['With Social Security income'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with SSI'] = cleaned_df['With Supplemental Security Income (SSI)'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent with public assistance'] = cleaned_df['With cash public assistance income or Food Stamps/SNAP'] / cleaned_df['All households'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent White'] = cleaned_df['White'] / cleaned_df['Total population'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent Black'] = cleaned_df['Black or African American'] / cleaned_df['Total population'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent Asian'] = cleaned_df['Asian'] / cleaned_df['Total population'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent Hispanic'] = cleaned_df['Hispanic or Latino origin (of any race)_x'] / cleaned_df['Total population'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Unemployment Rate'] = cleaned_df['Unemployed'] / (cleaned_df['Employed'] + cleaned_df['Unemployed']) * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Birth Rate'] = cleaned_df['Women who had a birth in the past 12 months:'] / cleaned_df['Total population'] * 1000  # per 1000 population
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent in Extreme Poverty'] = cleaned_df['50 percent of poverty level'] / cleaned_df['Population for whom poverty status is determined'] * 100
C:\Users\Semio\AppData\Local\Temp\ipykernel_26704\113425253.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_df['Percent in Poverty'] = cleaned_df['125 percent of poverty level'] / cleaned_df['Population for whom poverty status is determined'] * 100

In [41]:
# Save the cleaned_df dataframe to a CSV file
cleaned_df.to_csv('Cancer Rates_DataFrame.csv', index=False)

# Display the first few rows of cleaned_df
print("First few rows of cleaned_df:")
print(cleaned_df.head())

First few rows of cleaned_df:
                 Geography  All households  With earnings  \
0  Baldwin County, Alabama           98854          71517
1  Calhoun County, Alabama           45701          31462
2  Cullman County, Alabama           35966          26221
3   DeKalb County, Alabama           26459          18345
4   Elmore County, Alabama           34061          26375

   With wages or salary income  With self-employment income  \
0                        66490                        12202
1                        30533                         2894
2                        24354                         5647
3                        17113                         3856
4                        25309                         3168

  With interest, dividends, or net rental income  With Social Security income  \
0                                         19,231                        38523
1                                          6,625                        17748
2                                          5,112                        13310
3                                          3,232                         9751
4                                          4,823                        11852

   With Supplemental Security Income (SSI)  \
0                                     3640
1                                     5890
2                                     1616
3                                     2561
4                                     2291

   With cash public assistance income or Food Stamps/SNAP  \
0                                              10102
1                                               8536
2                                               3680
3                                               5403
4                                               2998

  With cash public assistance  ... Percent with SSI  \
0                         905  ...         3.682198
1                         965  ...        12.888121
2                         386  ...         4.493132
3                         429  ...         9.679126
4                         297  ...         6.726168

  Percent with public assistance  Percent White Percent Black Percent Asian  \
0                      10.219111      83.068152      7.000223      0.958874
1                      18.677928      69.503748     22.420285      1.184924
2                      10.231886      90.497987      1.243038      0.291182
3                      20.420273      80.023056      1.229201      0.183338
4                       8.801855      72.317810     20.630171      0.472293

  Percent Hispanic Unemployment Rate Birth Rate Percent in Extreme Poverty  \
0         5.036216          3.028507  11.025220                   4.618155
1         4.344146          6.194268  13.377898                   9.711891
2         4.798985          5.865109  13.246567                   8.827502
3        15.993500          3.456760  10.125281                   7.955370
4         3.179885          3.823702  13.822672                   5.294159

   Percent in Poverty
0           17.869786
1           23.135728
2           23.475640
3           25.842857
4           15.120972

[5 rows x 118 columns]